Projects/bellbirds2
Projects/bellbirds2.crp
Projects/cred
Projects/cred.crp
Projects/eviltest
Projects/eviltest.crp
Projects/ForTheBirds
Projects/ForTheBirds.crp
Projects/fred
Projects/fred.crp
Projects/New
Projects/New.crp
Projects/NewsFromHome
Projects/NewsFromHome.crp
Projects/Now
Projects/Now.crp
Projects/TheStorySoFar
Projects/TheStorySoFar.crp
Projects/WhoAreTheseGods
Projects/WhoAreTheseGods.crp
windows/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.obj
windows/Debug/AssemblyInfo.obj
windows/Debug/BaseVal.obj
windows/Debug/Qua.Build.CppClean.log
windows/Debug/Qua.log
windows/Debug/Qua.pch
windows/Debug/Qua.tlog/cl.command.1.tlog
windows/Debug/Qua.tlog/CL.read.1.tlog
windows/Debug/Qua.tlog/CL.write.1.tlog
windows/Debug/Qua.tlog/metagen.read.1.tlog
windows/Debug/Qua.tlog/metagen.write.1.tlog
windows/Debug/Qua.tlog/Qua.lastbuildstate
windows/Debug/Qua.tlog/RSAENH.DLL.bi
windows/Debug/Qua.tlog/TZRES.DLL.bi
windows/Debug/Qua.tlog/unsuccessfulbuild
windows/Debug/Qua.vcxprojResolveAssemblyReference.cache
windows/Debug/QuaAsio.obj
windows/Debug/QuaAudio.obj
windows/Debug/QuaJoystick.obj
windows/Debug/Stdafx.obj
windows/Debug/tinyxml2.obj
windows/Debug/vc120.pdb
windows/Qua.sdf
.cproject
.project
